

<div class="flex flex-row min-h-screen justify-center items-center rounded overflow-hidden shadow-lg">

    <%= image_tag @track_info["album"]["images"][0]["url"], size: "300x300" %>
    <div class="px-6 py-4">

        <p class="font-bold"> <%= @track_info["name"]%> </p>
        <br/>
        <%= @track_info["album"]["artists"][0]["name"]%>
        <br/>

        <%= 
        key_arr = ["C","C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "G#/Ab", "A", "A#/Bb", "B"]
        mode_arr = ["Minor","Major"]

        "Key: " + key_arr[@analysis["track"]["key"]] + " " + mode_arr[@analysis["track"]["mode"]]

        %>
        <br/>

        <%= "Tempo(in beats per minute):" + @analysis["track"]["tempo"].round.to_s + " bpm"%>
        <br/>
        <%="Time Signature: " + @analysis["track"]["time_signature"].to_s + "/4"%>
        <br/>

        <%= 
        danceability = @features["danceability"]
        score = danceability * 10
        "Danceability: " + score.round.to_s + "/10"
        %>
        <br>

        <%= energy = @features["energy"]
        score = energy * 10
        "Energy: " + score.round.to_s + "/10"
        %>

    </div>

    <br/>
    <p class="text-indigo-600 hover:text-green-400">
        <%= link_to 'Search A Different Track', new_track_path  %> 
    </p>
</div>
